{{ if .IsHome }}
<a href="{{ .Site.Home.RelPermalink }}"
	class="hidden lg:block sm:fixed right-0 m-0 p-0 bg-white  bottom-0 text-primary-color font-brand-heavy tracking-tight bold"
	style="font-size:8vw;">
	{{.Site.Title}}
</a>
{{ end }}

<header>
	<div class="pt-6 lg:pt-12">
		<a href="/"
			class="pl-4 font-brand-heavy text-3xl tracking-normal block text-primary-color font-brand no-underline font-max-2">
			{{.Site.Title}}
		</a>
		{{ if not .IsHome }}
		<div class="px-4 text-base font-sans tracking-wide text-gray-900 font-sans">
			{{ .Site.Params.description | markdownify }}
		</div>
		{{ end }}

		<div class="pt-8 hidden sm:block">
			{{ partial "_global/menus.html" . }}
		</div>

		<div class="flex items-center justify-center sm:pt-8">
			{{ partial "_components/social-follow.html" (dict "cx" . "icon_size" "26px") }}
		</div>
	</div>
</header>